.appContainer {
    background: #232323;
    outline: none;
    border-radius: 4px;
}

.container {
    display: flex;
    outline: none;
}

.videoContainer {
    padding: 2px;
    background: #232323;
}