.formContainer {
    padding: 20px;
}

.formContainer input {
    outline: none;
    font-size: 1rem;
    background-color: #121212;
    color: rgba(255, 255, 255, 0.88);
    border: none;
    border-radius: .25rem;
    padding: 8px 16px;
    margin: 4px;
    box-shadow: inset 0 1px 2px #303030;
}

.formContainer input:focus {
    border-color: #2193f3;
    outline: 0;
    box-shadow: 0px 0px 0 0.1rem rgb(33, 147, 243)
}

.formContainer button {
    cursor: pointer;
    color: #1892f5;
    background-color: #343434;
    border-color: #343a40;
    text-align: center;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid hsl(0, 0%, 20%);
}

.inputTime {
    width: 64px;
}