.thumbnails {
    flex-direction: column;
    overflow-y: auto;
    min-width: 100px;
    padding-right: 6px;
}

.thumbnail {
    margin: 0px 0px 6px 0px;
    position: relative;
}

.thumbnail.playing {
    box-shadow: 0px 0px 4px 1px #1892f5;
}

.thumbnail .label{
    position: absolute;
    color: white;
    background: hsla(0, 0%, 7%, 0.7);
    padding: 2px;
    border-radius: 2px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.8rem;
    bottom: 2px;
    left: 2px;
}

.thumbnail .canvas {
    vertical-align: top;
    border-radius: 4px;
    box-shadow: 2px 2px 2px -2px black;
}

.thumbnailControls {
    position: absolute;
    right: 0;
    display: flex;
    padding: 2px;
}

.thumbnailControls .thumbnailIcon{
    padding: 1px;
    margin: 2px;
    border-radius: 12px;
    width: 20px;
    text-align: center;
    height: 20px;
    cursor: pointer;
    background: #303030a1;
    color: #dcdcdc;
}

.thumbnailControls .thumbnailIcon:hover{
    color: white;
    background: black;
}

