.appContainer {
    display: inline-block;
    padding: 8px;
    background: #232323;
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #0000007d;
}

.container {
    display: flex;
    outline: none;
}