.thumbnails {
    flex-direction: column;
    background: #383838;
    padding: 10px;
    overflow: auto;
    height: 450px;
}

.thumbnail {
    padding: 4px;
    position: relative;
}

.thumbnail .label{
    position: absolute;
    color: white;
    background: hsl(0, 0%, 6.7%);
    padding: 2px;
    border-radius: 2px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.8rem;
}

.thumbnail .canvas {
    vertical-align: top;
    border-radius: 4px;
    box-shadow: 2px 2px 2px -2px black;
}


